* {
  cursor: default;
}
.destination-parent {
  position: relative;
  width: 100%;
  padding: 0 100px;
  background-color: #f1f2f8;
  min-height: 100vh;
  padding-bottom: 100px;
}

.destination-header {
  text-align: center;
  padding: 20px 0px;
}

.destination-holder {
  display: grid;
  grid-template-columns: 4fr 4fr;
  grid-gap: 20px;
}
