.sd-main-search-container {
  padding: 20px;
  background-color: #042759;
  border-radius: 0px 0px 10px 10px;
}

.is-sticky {
  position: fixed;
  width: 90%;
  left: 5;
  z-index: 999;
  top: 0;
}

.sd-seprator {
  display: flex;
  margin-bottom: 10px;
}
.sd-holder {
  width: 50%;
  display: flex;
}

.sd-airport-holder {
  display: flex;
  width: 20%;
  justify-content: space-evenly;
  padding: 10px 0px;
}

.sd-h2 {
  color: #fff;
}
.sd-srch-holder {
  width: 15%;
}

#sd-icon {
  font-size: x-large;
  color: #fff;
}
.sd-dates {
  justify-content: end;
  padding: 10px 0px;
  color: #fff;
}

.sd-date {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin-left: 10px;
}

.sd-button {
  background-color: #00a698;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}
