.parent-ticket-container {
  padding: 0 100px;
  background-color: #f1f2f8;
}
.main-flight-info {
  display: flex;
}

.sidebar-component {
  margin-top: 10px;
  width: 30%;
}

.ticket-area {
  width: 100%;
  display: flex;
}

.sidebar-total {
  text-align: center;
}

@media (max-width: 767px) {
  .parent-ticket-container{
    padding: 0 5px;  
  }

  .main-flight-info {
    display: block;
    
  }

  .sidebar-component {
    margin-top: 10px;
    width: 100%;
  }

  body::-webkit-scrollbar{
    display: none;
  }
  
}