.parent-ticket-container {
  padding: 0 100px;
  background-color: #f1f2f8;
}
.main-flight-info {
  display: flex;
}

.sidebar-component {
  margin-top: 10px;
  width: 30%;
}

.ticket-area {
  width: 100%;
  display: flex;
}

.sidebar-total {
  text-align: center;
}
