.cp-holder {
  display: flex;
  flex-direction: column;
}

.cp-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.cp-header div {
  padding-bottom: 5px;
}

.cp-parent {
  margin-top: 10px;
}
.cp-select-holder {
  outline: 1px solid black;
  display: flex;
  width: 100%;
}
