.dt-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.dt-icon {
  cursor: pointer;
  font-size: x-large;
}

.dt-stops {
  padding: 10px;
}

.dt-parent {
  margin-top: 10px;
}
