.so-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.so-icon {
  cursor: pointer;
  font-size: x-large;
}

.so-stops {
  padding: 10px;
}

.so-ul-stops li {
  margin-bottom: 5px;
}

.so-input {
  margin-right: 2px;
}
