.dr-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.dr-icon {
  cursor: pointer;
  font-size: x-large;
}

.dr-parent {
  margin-top: 10px;
}

.dr-icon:hover {
  color: #00a698;
}

.dr-time-head {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.dr-slider-holder {
  padding: 0px 25px;
}

.dr-light {
  font-weight: 600;
  cursor: default;
}
